@import url(../intro/__title/intro__title.css);
@import url(../intro/__paragraph/intro__paragraph.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__number/intro__number.css);

.intro {
  display: grid;
  max-width: 690px;
}

@media screen and (max-width: 1023px){
  .intro {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px){
  .intro {
    min-width: 288px;
  }
}
